.week {
  max-width: 938px;
  background-color: rgb(38 40 44);
  padding: 40px 47px;
  border-radius: 28px;
  height: 902px;
}

.week__nav {
  margin-bottom: 16px;
}

.week__navItem {
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

.week__days {
  display: flex;
  gap: 15px;
  padding: 15px 6px;
  margin-bottom: 49px;
}

.week__day {
  background-color: #282627;
  border-radius: 12px;
  width: 106px;
  height: 176px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.week__dayName {
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  margin-bottom: 7px;
}

.week__dayIcon {
  margin-bottom: 6px;
}

.week__dayTemp {
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

.overview__title {
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  margin-bottom: 49px;
}

.overview__metrics {
  display: flex;
  gap: 20px;
  margin-bottom: 49px;
}

.metric {
  background-color: #272527;
  border-radius: 20px;
  padding: 15px 20px;
  width: 268px;
  display: flex;
  flex-direction: column;
}

.metric__label {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  margin-bottom: 29px;
}

.metric__value {
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  font-size: 48px;
  color: #fff;
  margin-bottom: 10px;
}

.metric__desc {
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  font-size: 17px;
  color: #fff;
}

.overview__bottom {
  display: flex;
  gap: 20px;
}

.sunCycle {
  background-color: #252425;
  border-radius: 20px;
  padding: 15px 20px;
  width: 269px;
}

.sunCycle__title {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  margin-bottom: 10px;
}

.sunCycle__content {
  display: flex;
  flex-direction: column;
}

.sunCycle__item {
  display: flex;
  gap: 20px;
  padding: 10px 0;
}

.sunCycle__label {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 12px;
  color: #6a6969;
}

.sunCycle__time {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 17px;
  color: #fff;
}
